{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<br/>
<h2>Team Contributions</h2>
<div class="row" id="contributions">
    <div class="col-sm-6">
        <h4>Sprint 1</h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name (Github Alias)</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kevin Toh (ktzy0305)</td>
                    <td>Project Manager</td>
                </tr>
                
                <tr>
                    <td>Tan Jun Wu (tanjunwu)</td>
                    <td>Developer</td>
                </tr>
                
                <tr>
                    <td>Chua Tee Kiat (kealtke)</td>
                    <td>Developer</td>
                </tr>
                
                <tr>
                    <td>Marcus Goh (Klann98)</td>
                    <td>Developer</td>
                </tr>
                
                <tr>
                    <td>Malcolm Tham (githubbing97)</td>
                    <td>Quality Assurance</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h4>Sprint 2</h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name (Github Alias)</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kevin Toh (ktzy0305)</td>
                    <td>Project Manager<br/>Quality Assurance</td>
                </tr>
                
                <tr>
                    <td>Tan Jun Wu (tanjunwu)</td>
                    <td>Project Manager<br/>Lead Developer</td>
                </tr>
                
                <tr>
                    <td>Chua Tee Kiat (kealtke)</td>
                    <td>Developer</td>
                </tr>
                
                <tr>
                    <td>Marcus Goh (Klann98)</td>
                    <td>Developer</td>
                </tr>
                
                <tr>
                    <td>Malcolm Tham (githubbing97)</td>
                    <td>Quality Assurance</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>	
{% else %}
<br>
<p>You are not logged in</p>
<a class="btn btn-primary" href="{% url 'login' %}">Login</button>
{% endif %}
{% endblock %}